%section#works.works-section.section-padding
  .container
    %h2.section-title.wow.fadeInUp Works
    %ul#filter.list-inline
      %li
        %a.active{"data-group" => "all"} All
      %li
        %a{"data-group" => "design"} Design
      %li
        %a{"data-group" => "web"} Web
      %li
        %a{"data-group" => "interface"} Interface
      %li
        %a{"data-group" => "identety"} Identity
    .row
      #grid
        .portfolio-item.col-xs-12.col-sm-4.col-md-3{"data-groups" => "[\"all\", \"identety\", \"interface\"]"}
          .portfolio-bg
            .portfolio
              .tt-overlay
              .links
                - binding.pry
                %a.image-link{ href: "#{asset_path('works/portfolio-2.jpg')}"}
                  %i.fa.fa-search-plus
                %a{:href => "#"}
                  %i.fa.fa-link
              = image_tag('works/portfolio-2.jpg', height: '180px')
              .portfolio-info
                %h3 Platform
        .portfolio-item.col-xs-12.col-sm-4.col-md-3{"data-groups" => "[\"all\", \"identety\", \"web\"]"}
          .portfolio-bg
            .portfolio
              .tt-overlay
              .links
                %a.image-link{:href => "#{asset_path('works/portfolio-1.jpg')}"}
                  %i.fa.fa-search-plus
                %a{:href => "#"}
                  %i.fa.fa-link
              = image_tag('works/portfolio-1.jpg', height: '180px')
              .portfolio-info
                %h3 Ruby On Rails
        .portfolio-item.col-xs-12.col-sm-4.col-md-3{"data-groups" => "[\"all\", \"interface\"]"}
          .portfolio-bg
            .portfolio
              .tt-overlay
              .links
                %a.image-link{:href => "#{asset_path('works/portfolio-7.jpg')}"}
                  %i.fa.fa-search-plus
                %a{:href => "#"}
                  %i.fa.fa-link
              = image_tag('works/portfolio-7.jpg', height: '180px')
              .portfolio-info
                %h3 Operating System
        .portfolio-item.col-xs-12.col-sm-4.col-md-3{"data-groups" => "[\"all\", \"identety\", \"design\"]"}
          .portfolio-bg
            .portfolio
              .tt-overlay
              .links
                %a.image-link{:href => "#{asset_path('works/portfolio-4.jpg')}"}
                  %i.fa.fa-search-plus
                %a{:href => "#"}
                  %i.fa.fa-link
              = image_tag('works/portfolio-4.jpg', height: '180px')
              .portfolio-info
                %h3 Javascript
        .portfolio-item.col-xs-12.col-sm-4.col-md-3{"data-groups" => "[\"all\", \"identety\", \"design\"]"}
          .portfolio-bg
            .portfolio
              .tt-overlay
              .links
                %a.image-link{:href => "#{asset_path('works/portfolio-3.jpg')}"}
                  %i.fa.fa-search-plus
                %a{:href => "#"}
                  %i.fa.fa-link
              = image_tag('works/portfolio-3.jpg', height: '180px')
              .portfolio-info
                %h3 AngularJs
        .portfolio-item.col-xs-12.col-sm-4.col-md-3{"data-groups" => "[\"all\", \"identety\", \"design\"]"}
          .portfolio-bg
            .portfolio
              .tt-overlay
              .links
                %a.image-link{:href => "#{asset_path('works/portfolio-6.jpg')}"}
                  %i.fa.fa-search-plus
                %a{:href => "#"}
                  %i.fa.fa-link
              = image_tag('works/portfolio-6.jpg', height: '180px')
              .portfolio-info
                %h3 Algorithm
        .portfolio-item.col-xs-12.col-sm-4.col-md-3{"data-groups" => "[\"all\", \"identety\", \"web\"]"}
          .portfolio-bg
            .portfolio
              .tt-overlay
              .links
                %a.image-link{:href => "#{asset_path('works/portfolio-5.jpg')}"}
                  %i.fa.fa-search-plus
                %a{:href => "#"}
                  %i.fa.fa-link
              = image_tag('works/portfolio-5.jpg', height: '180px')
              .portfolio-info
                %h3 Data Structure
        .portfolio-item.col-xs-12.col-sm-4.col-md-3{"data-groups" => "[\"all\", \"design\"]"}
          .portfolio-bg
            .portfolio
              .tt-overlay
              .links
                %a.image-link{:href => "#{asset_path('works/portfolio-8.jpg')}"}
                  %i.fa.fa-search-plus
                %a{:href => "#"}
                  %i.fa.fa-link
              = image_tag('works/portfolio-8.jpg', height: '180px')
              .portfolio-info
                %h3 Github