#tt-preloader
  #pre-status
    .preload-placeholder
= render 'home'
= render 'navigation'
= render 'about'
= render 'skill'
= render 'resume'
= render 'work'
= render 'fact'
= render 'blog'
= render 'hire'
= render 'contact'
%footer.footer-wrapper
  .container
    .row
      .col-md-12
        .copyright.text-center
          %p © All rights reserved.
.scroll-up
  %a{:href => "#home"}
    %i.fa.fa-angle-up

