!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ekansh
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700')
    = javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyANlIn3OWmA77tfI--7oZBphXT6ydaHLb0'
    = csrf_meta_tags
  %body
    = yield
